/* Tailwind base - put variables under: tailwind.config.js */
@import "node_modules/tailwindcss/base";
/* Tailwind component classes registered by plugins*/
@import "node_modules/tailwindcss/components";
/* Site Specific */
@import "assets/css/site";
/* Tailwind's utility classes - generated based on config file */
@import "node_modules/tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

html {
  scroll-behavior: smooth;
}
.header-img, .header-img-gradient, .header-img-grad-right, .header-img-grad-bottom {
  @apply absolute;
  top: 0;
  left: 0;
  width: 35vw;
  height: 60vh;
}
.header-img {
  background-image: url(../../img/women.jpeg);
  background-size: cover;

  z-index: 100;
}
.header-img-gradient {
  background: radial-gradient(circle at bottom 100px right 10px, rgba(255,255,255, 1) 0%, white 55%, rgba(255,255,255,.4) 60%, rgba(255,255,255, 0) 100%);
  z-index: 101;
}
.header-img-grad-right {
  background: linear-gradient(to right, rgba(255,255,255,.5) 0%, rgba(255,255,255,0) 5%, rgba(255,255,255, 0) 95%, white 100%);
  z-index: 102;
}
.header-img-grad-bottom {
  background: linear-gradient(to bottom, rgba(255,255,255,.5) 0%, rgba(255,255,255,0) 5%, rgba(255,255,255, 0) 95%, white 100%);
  z-index: 103;
}
.header-img-mask {
  position: absolute;
  top: 100px;
  left: 200px;
  border-radius: 100% 0 0;
  width: calc(35vw - 200px);
  height: calc(60vh - 100px);
  background-color: white;
  z-index: 104;
}
.logo span {
  font-family: Caveat;
  @apply text-8xl;
}
.logo svg {
  width: 63.07px;
  height: 112.46px;
  @apply mx-auto;
}

h1, h2, h3, h4 {
  font-family: Caveat;
}
h1 {
  @apply text-4xl;
}
h2 { @apply text-3xl; }
h3 { @apply text-2xl; }
section { 
  @apply pb-28;
  @apply pt-28;
}
section:nth-child(1) {
  @apply pt-14;
}
section h2 {
  @apply text-5xl;
  @apply mb-10;
}
a { 
  @apply text-gray-800;
  @apply hover:text-red-500;
}
nav > a {
  font-family: Caveat;
  @apply text-3xl;
}
.events {
  @apply mx-auto;
}

.events tbody td{
  @apply p-3;
  @apply border;
  @apply border-gray-700;
  @apply w-1/2;
}

#map {
  height: 200px;
  @apply w-5/6;
  @apply mx-auto;
}
.input{
  @apply border;
  @apply border-red-500;
  @apply rounded-full;
  @apply mb-1;
  @apply text-left;
}
.input .icon {
  @apply bg-red-500;
  @apply text-white;
  @apply p-4;
  @apply rounded-l-full;
}
textarea{
 @apply rounded-2xl !important;
 @apply w-full;
}
aside {
  
}
footer a {
  @apply text-red-500;
  @apply hover:text-white;
}